@import './variable.styl'

@font-face 
  font-family: 'special-for-me'
  src: url('assets/fonts/ljh.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'jackey_handwriteregular';
  src: url('assets/fonts/jackeyhandwrite-webfont.woff2') format('woff2'),
       url('assets/fonts/jackeyhandwrite-webfont.woff') format('woff'),
       url('assets/fonts/jackeyhandwrite-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;


*,
*::before,
*::after 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
html 
  font-size: $font-size-small
  font-family: PingFang SC
ul
  list-style-type: none 
a
  text-decoration: none