@font-face 
  font-family: 'special-for-me'
  src: url('assets/fonts/ljh.ttf') format('truetype')
  font-weight: normal
  font-style: normal

html 
  font-size: 12px
ul
  list-style-type: none 
a
  text-decoration: none