two-color-border(border = 1rem, outline = 0.2rem)
    color: #fff
    background: #000 
    border: border solid #fff
    outline: outline solid #000

title-base() 
    text-align: center
    color: #fff
    line-height: 6rem
    margin: 0 auto 1rem
    background: url(../../static/title_base.png)