
$font-color = #fff
$font-size-base = 12px
$font-size-small = 1rem
$font-size-small-u = 1.2rem
$font-size-middle-d = 1.5rem
$font-size-middle = 2rem

$space-small = 0.5rem
$space-middle = 1rem
$space-middle-u = 1.5rem

$main-color = red
$main-second-color = black
$main-third-color = white

$content-bg-color = #1e1e1e
$content-main-color = #c6c6c6
$content-strong-color = #d9d9d9